@model IEnumerable<PasswordWallet.Models.PasswordModel>

@{
    ViewData["Title"] = "Index";
}
@{
    var mode = ViewBag.Message;
}

<h1>Passwords</h1>
<p>
    <a asp-action="Create">Create password</a>
    @Html.ActionLink("Show login log", "ShowLog")
    @Html.ActionLink("Logout", "Index", "Users")
</p>

<form asp-action="ChangeMode">
    <div class="form-group">
        <input type="submit" value="@mode" class="btn btn-primary" id="ChangeModeBtn" />
    </div>
</form>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Warning"].Errors.Count > 0)
{
    <div class="alert alert-warning">
        <strong>Error!</strong> @ViewData.ModelState["Warning"].Errors.First().ErrorMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShared)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShared)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { passwordHash = item.PasswordHash })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { passwordId = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { passwordHash = item.PasswordHash })
            </td>
            <td>
                @Html.ActionLink("Share", "SharePassword", new { passwordHash = item.PasswordHash })
            </td>
            <td>
                @Html.ActionLink("Changes", "PasswordChanges", new { passwordId = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>

