@model IEnumerable<PasswordWallet.Models.PasswordChange>

@{
    ViewData["Title"] = "PasswordChanges";
}

<h1>Password changes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeDateTime)
                </td>
                <td>
                    @Html.ActionLink("Restore state", "RestorePasswordState", new { passwordChangeId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>