@model IEnumerable<PasswordWallet.Models.LoginLog>

@{
    ViewData["Title"] = "ShowLog";
}

<h1>Log</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IpAddress)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>